@page "/Account/Manage/ChangeBetSettings"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using DisneyPlayhouse.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ILogger<ChangePassword> Logger
@inject IStringLocalizer<Resource> localizer

<PageTitle>@localizer["ChangeBetSettings"]</PageTitle>


    <div class="row">
        <div class="col-md-6">
            <EditForm Model="Input" FormName="profile" OnValidSubmit="OnValidSubmitAsync" method="post">
                <DataAnnotationsValidator />
                <ValidationSummary class="text-danger" role="alert" />


            <label class="alert">@localizer["SelectedCurrency"] @currencyType</label>
            <div class="form-floating mb-3">
                <InputSelect @bind-Value="Input.CurrencyType" class="form-control">
                    <option value="USD">@localizer["SelectCurrency"]</option>
                    <option value="USD">USD($1:$1)</option>
                    <option value="SGD">SGD($:$0.75)</option>
                </InputSelect>
                <label for="currency-type" class="form-label">@localizer["Currency"]</label>
                <ValidationMessage For="() => Input.CurrencyType" class="text-danger" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">@localizer["Save"]</button>
        </EditForm>
    </div>
</div>

@code {
    private ApplicationUser user = default!;
    private string? currencyType;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        currencyType = user.CurrencyType;

        Input.CurrencyType ??= currencyType;
    }

    private async Task OnValidSubmitAsync()
    {
        user.CurrencyType = Input.CurrencyType;

        var UpdateResult = await UserManager.UpdateAsync(user);

        if (!UpdateResult.Succeeded)
        {
            RedirectManager.RedirectToCurrentPageWithStatus("Error: Failed to update profile", HttpContext);
        }

        await SignInManager.RefreshSignInAsync(user);
        RedirectManager.RedirectToCurrentPageWithStatus("Your profile has been updated", HttpContext);
    }

    private sealed class InputModel
    {
        [Required]
        [Display(Name = "Currency Type")]
        [RegularExpression("^(USD|SGD)$", ErrorMessage = "Currency type should be either USD or SGD")]
        public string? CurrencyType { get; set; }
    }
}