@using DisneyPlayhouse.Models

@if (masterView.Count > 0)
{
    @foreach (var view in masterView)
    {
        <tr>
            <td>@view.ReportFor</td>
            <td>@view.DrawDate.DayOfWeek</td>
            <td>@view.DrawDate.ToShortDateString()</td>
            <td>@view.TotalBig</td>
            <td>@view.TotalSmall</td>
            <td>$@view.TotalAmount.ToString("F2")</td>
            <td>$@view.TotalStrike.ToString("F2")</td>
            <td>$@view.Balance.ToString("F2")</td>
        </tr>

    }
    <tr class="fw-bolder text-success bg-warning">
        <td colspan="3">Grand Total :</td>
        <td>@masterView.Sum(view => view.TotalBig)</td>
        <td>@masterView.Sum(view => view.TotalSmall)</td>
        <td>$@masterView.Sum(view => view.TotalAmount).ToString("F2")</td>
        <td>$@masterView.Sum(view => view.TotalStrike).ToString("F2")</td>
        <td>$@masterView.Sum(view => view.Balance).ToString("F2")</td>
    </tr>
}
else
{
    <tr>
        <th scope="col" colspan="12">
            No Data To Show
        </th>
    </tr>
}

@code{
    [Parameter] public List<PageReportTotalViewModel> masterView {get; set;}= new List<PageReportTotalViewModel>();
}