@using DisneyPlayhouse.Models
<div class="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button bg-white text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Invoice Details for Invoice : <strong>@InvoiceId</strong>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body bg-dark">
                <div class="row">
                    <div class="col-md">
                        <label class="col-form-label-md text-white"><strong>Invoice For :</strong> <label class="text-warning">@InvoiceForWhoForCheck</label></label>
                    </div>
                    <div class="col-md">
                        <label class="col-form-label-md text-white"><strong>Created By :</strong> <label class="text-warning">@InvoiceSubmittedByWhoForCheck</label></label>
                    </div>
                    <div class="col-md">
                        <label class="col-form-label-md text-white"><strong>Page ID :</strong> <label class="text-warning">@InvoicePageNameForCheck</label></label>
                    </div>
                    <div class="col-md">
                        <label class="col-form-label-md text-white"><strong>Big :</strong> <label class="text-warning">@TotalBigForCheck</label></label>
                    </div>
                    <div class="col-md">
                        <label class="col-form-label-md text-white"><strong>Small :</strong> <label class="text-warning">@TotalSmallForCheck</label></label>
                    </div>
                    <div class="col-md">
                        <label class="col-form-label-md text-white"><strong>Amount :</strong> <label class="text-warning">$@TotalCostForCheck</label></label>
                    </div>
                    <div class="col-md">
                        <button class="btn btn-danger" @onclick="@ReturnToForm">Back</button>
                        <button class="btn btn-success" @onclick="@SaveInvoiceToDB">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />
<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered table-striped text-center" style="font-size:small;">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Day</th>
                    <th>Draw Date 1</th>
                    <th>Draw Date 2</th>
                    <th>Draw Date 3</th>
                    <th>Number</th>
                    <th>Variations</th>
                    <th>Big</th>
                    <th>Actual Big</th>
                    <th>Small</th>
                    <th>Actual Small</th>
                    <th>Roll</th>
                    <th>Total Cost</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < EntriesForCheck.Count; i++)
                {
                    @if (!string.IsNullOrEmpty(EntriesForCheck[i].Number))
                    {
                        @if (EntriesForCheck[i].Number.Length == 4)
                        {
                            <tr>
                                <td>@ListIndex</td>
                                <td><b>@EntriesForCheck[i].Day</b></td>
                                @if(EntriesForCheck[i].DrawDates.Count == 3)
                                {
                                    <td>@EntriesForCheck[i].DrawDates[0].ToLongDateString()</td>
                                    <td>@EntriesForCheck[i].DrawDates[1].ToLongDateString()</td>
                                    <td>@EntriesForCheck[i].DrawDates[2].ToLongDateString()</td>
                                }
                                else if(EntriesForCheck[i].DrawDates.Count == 2)
                                {
                                    <td>@EntriesForCheck[i].DrawDates[0].ToLongDateString()</td>
                                    <td>@EntriesForCheck[i].DrawDates[1].ToLongDateString()</td>
                                    <td>N/A</td>
                                }
                                else if(EntriesForCheck[i].DrawDates.Count == 1)
                                {
                                    <td>@EntriesForCheck[i].DrawDates[0].ToLongDateString()</td>
                                    <td>N/A</td>
                                    <td>N/A</td>
                                }
                                <td><b>@EntriesForCheck[i].Number</b></td>
                                <td>@EntriesForCheck[i].NumberVariations.Count</td>
                                <td><b>@EntriesForCheck[i].Big</b></td>
                                <td>@EntriesForCheck[i].ActualBig</td>
                                <td><b>@EntriesForCheck[i].Small</b></td>
                                <td>@EntriesForCheck[i].ActualSmall</td>
                                <td><b>@EntriesForCheck[i].Roll</b></td>
                                <td>$@EntriesForCheck[i].TotalCostForEntry</td>
                            </tr>
                            ListIndex++;
                        }
                    }
                }
                <tr class="text-dark fw-bolder">
                    <td colspan="7"></td>
                    <td>Total Big:</td>
                    <td class="bg-warning text-dark">@TotalBigForCheck</td>
                    <td >Total Small:</td>
                    <td class="bg-warning text-dark">@TotalSmallForCheck</td>
                    <td>Total Cost:</td>
                    <td class="bg-success text-light">$@TotalCostForCheck</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter] public double TotalBigForCheck { get; set; }
    [Parameter] public int TotalSmallForCheck { get; set; }
    [Parameter] public double TotalCostForCheck { get; set; }
    [Parameter] public string InvoiceId { get; set;}
    [Parameter] public string InvoicePageNameForCheck { get; set; }
    [Parameter] public string InvoiceForWhoForCheck { get; set; }
    [Parameter] public string InvoiceSubmittedByWhoForCheck { get; set; }
    [Parameter] public List<BettingForm4DEachEntryModel> EntriesForCheck { get; set; }
    int ListIndex = 1;
    [Parameter] public EventCallback ReturnToFormSet { get; set; }


    private async Task ReturnToForm()
    {
        await ReturnToFormSet.InvokeAsync();
    }

    private async Task SaveInvoiceToDB()
    {
        try
        {


        }
        catch(Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
